html,
body {
    background-image: url('../../../public/assert/img/login_and_regis/background.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.form-container {
    margin-top: auto;
}

.form-container .left-content {
    background-image: url("./batman.png");
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-top: 7%;
}

.form-container .right-content {
    text-align: center;
    background-color: #00000050;
}

.form-container .right-content .form-title {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 2px;
    margin: 0 0 30px;
    border-bottom: 2px solid #daa5206c;
}

.form-container .right-content .form-horizontal {
    color: white;
    font-size: 14px;
    text-align: left;
    margin: 0 0 15px;
}

.form-container .form-horizontal .form-group {
    margin: 0 0 20px;
}

.form-container .form-horizontal .form-group:nth-of-type(2) {
    margin-bottom: 35px;
}

.form-container .form-horizontal .form-group label {
    font-weight: 500;
}

.form-container .form-horizontal .form-control {
    color: whitesmoke;
    background: #f9f9f9;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.form-container .form-horizontal .form-control:focus {
    box-shadow: 0 0 5px wheat;
}

.form-container .form-horizontal .signup {
    color: #fff;
    background: #daa5206c;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    padding: 9px 11px;
    margin: 0 0 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus {
    box-shadow: 0 0 10px #daa5206c;
    outline: none;
}

.form-container .form-horizontal .remember-me {
    width: calc(100% - 105px);
    display: inline-block;
}

.form-container .form-horizontal .remember-me .check-label {
    color: white;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    display: inline-block;
}

.form-container .form-horizontal .remember-me .checkbox {
    height: 17px;
    width: 17px;
    min-height: auto;
    margin: 0 1px 0 0;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .remember-me .checkbox:before {
    content: '';
    height: 5px;
    width: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2.5px;
    transition: all 0.3s ease;
}

.form-container .form-horizontal .remember-me .checkbox:checked {
    background-color: #00000050;
}

.form-container .form-horizontal .remember-me .checkbox:checked:before {
    opacity: 1;
}

.form-container .form-horizontal .remember-me .checkbox:not(:checked):before {
    opacity: 0;
}

.form-container .form-horizontal .remember-me .checkbox:focus {
    outline: none;
}

.form-container .form-horizontal .forgot {
    color: white;
    font-size: 12px;
    text-align: right;
    width: 100px;
    vertical-align: top;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .forgot:hover {
    text-decoration: underline;
}

.form-container .right-content .separator {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0 0 15px;
    display: block;
}

.form-container .right-content .social-links {
    text-align: center;
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}

.form-container .right-content .social-links li {
    margin: 0 2px 5px;
    display: inline-block;
}

.form-container .right-content .social-links li a {
    color: #fff;
    background-color: #F16262;
    font-size: 12px;
    padding: 9px 12px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .social-links li:nth-child(2) a {
    background-color: #3B5897;
}

.form-container .right-content .social-links li a i {
    margin-right: 10px;
}

.form-container .right-content .social-links li a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-container .right-content .signup-link {
    color: white;
    font-size: 13px;
}

.form-container .right-content .signup-link a {
    line-height: 35px;
    color: #F16262;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .signup-link a:hover {
    text-decoration: underline;
}

.form-container .form-group .form-control, .form-container .form-group .form-check-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid wheat;
    /* Thay đổi màu viền theo ý muốn */
}

/* @media only screen and (max-width:767px) {
    .form-bg {
        background-image: none;
    }

    .form-container .left-content,
    .form-container .right-content {
        width: 100%;
        padding: 30px;
    }

    .form-container .left-content .title {
        margin: 0 0 20px;
    }

    .form-container .left-content .sub-title {
        font-size: 40px;
    }
} */