@tailwind base;
@tailwind components;
@tailwind utilities;
@import"https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap";

.bg-main {
    background-color: #1d212b;
    padding: 0
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #fff
}