@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.bg{
    &-main{
        background-color: #1D212B;
        padding: 0;

    }
}


body{
    color: white;
}