
.item{
  position: relative;
  cursor: pointer;
}

.item .a{
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 15px;
  line-height: 50px;
  font-size: 15px;
}

.item .a:hover{
background-color: rgb(235, 235, 235);
transition: 0.3s ease;
}

.item .a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.item .sub-menu{
background: rgba(255,255,255,0.1);
}

.item .sub-menu .a{
  padding-left: 20px;
}