html,
body {
    background-image: url('../../../public/assert/img/login_and_regis/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* font-family: 'Numans', sans-serif; */
}

/* .form-container {
    margin-top: 7%;
}

.form-container .left-content {
    background-image: url("./batman.png");
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.form-container .right-content {
    text-align: center;
    background-color: #ff638f1e;
}

.form-container .right-content .form-title {
    color: #888;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 2px;
    margin: 0 0 30px;
    border-bottom: 2px solid #FF97A8;
}

.form-container .right-content .form-horizontal {
    color: #999;
    font-size: 14px;
    text-align: left;
    margin: 0 0 15px;
}

.form-container .form-horizontal .form-group {
    margin: 0 0 20px;
}

.form-container .form-horizontal .form-group:nth-of-type(2) {
    margin-bottom: 35px;
}

.form-container .form-horizontal .form-group label {
    font-weight: 500;
}

.form-container .form-horizontal .form-control {
    color: #888;
    background: #f9f9f9;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.form-container .form-horizontal .form-control:focus {
    box-shadow: 0 0 5px #FF97A8;
}

.form-container .form-horizontal .signin {
    color: #fff;
    background: linear-gradient(to right, #FF638E, #FF97A8);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    padding: 9px 11px;
    margin: 0 0 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus {
    box-shadow: 0 0 10px #FF97A8;
    outline: none;
}

.form-container .form-horizontal .remember-me {
    width: calc(100% - 105px);
    display: inline-block;
}

.form-container .form-horizontal .remember-me .check-label {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    display: inline-block;
}

.form-container .form-horizontal .remember-me .checkbox {
    height: 17px;
    width: 17px;
    min-height: auto;
    margin: 0 1px 0 0;
    border: 2px solid #FF97A8;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .remember-me .checkbox:before {
    content: '';
    height: 5px;
    width: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2.5px;
    transition: all 0.3s ease;
}

.form-container .form-horizontal .remember-me .checkbox:checked {
    background-color: #FF97A8;
}

.form-container .form-horizontal .remember-me .checkbox:checked:before {
    opacity: 1;
}

.form-container .form-horizontal .remember-me .checkbox:not(:checked):before {
    opacity: 0;
}

.form-container .form-horizontal .remember-me .checkbox:focus {
    outline: none;
}

.form-container .form-horizontal .forgot {
    color: #999;
    font-size: 12px;
    text-align: right;
    width: 100px;
    vertical-align: top;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .forgot:hover {
    text-decoration: underline;
}

.form-container .right-content .separator {
    color: #999;
    font-size: 15px;
    text-align: center;
    margin: 0 0 15px;
    display: block;
}

.form-container .right-content .social-links {
    text-align: center;
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}

.form-container .right-content .social-links li {
    margin: 0 2px 5px;
    display: inline-block;
}

.form-container .right-content .social-links li a {
    color: #fff;
    background-color: #F16262;
    font-size: 12px;
    padding: 9px 12px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .social-links li:nth-child(2) a {
    background-color: #3B5897;
}

.form-container .right-content .social-links li a i {
    margin-right: 10px;
}

.form-container .right-content .social-links li a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-container .right-content .signup-link {
    color: #999;
    font-size: 13px;
}

.form-container .right-content .signup-link a {
    line-height: 35px;
    color: #F16262;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .signup-link a:hover {
    text-decoration: underline;
} */

/* @media only screen and (max-width:767px) {

    .form-container .left-content,
    .form-container .right-content {
        width: 100%;
        padding: 30px;
    }

    .form-container .left-content .title {
        margin: 0 0 20px;
    }

    .form-container .left-content .sub-title {
        font-size: 40px;
    }
} */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input {
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: transparent;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(40px);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo Image {
    width: 27px;
    margin-right: 0.3rem;
}

.logo h4 {
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: #ededed;
}

.heading h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #ffffff;
}

.heading h6 {
    color: #dcd4d4;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.toggle {
    color: #c2b0b0;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover {
    color: #8371fd;
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #f1f1f1;
    transition: 0.4s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active {
    border-bottom-color: #151111;
}

.input-field.active+label {
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #6a5b5b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color: #a50f0f;
}

.text {
    color: #e82626;
    font-size: 0.7rem;
}

.text a {
    color: #bbb;
    transition: 0.3s;
}

.text a:hover {
    color: #8371fd;
}

main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}


.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #ffe0d2;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    /* opacity: 0; */
    transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
    transform: translate(0, -50px);
}

.img-2 {
    transform: scale(0.4, 0.5);
}

.img-3 {
    transform: scale(0.3) rotate(-20deg);
}

.image.show {
    opacity: 1;
    transform: none;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap {
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}

.text-group h2 {
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active {
    width: 1.1rem;
    background-color: #151111;
    border-radius: 1rem;
}

@media (max-width: 850px) {
    .box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
    }

    form {
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }

    .heading {
        margin: 2rem 0;
    }

    form.sign-up-form {
        transform: translateX(100%);
    }

    main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
    }

    main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
    }

    .carousel {
        position: revert;
        height: auto;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
    }

    .images-wrapper {
        display: none;
    }

    .text-slider {
        width: 100%;
    }
}

@media (max-width: 530px) {
    main {
        padding: 1rem;
    }

    .box {
        border-radius: 2rem;
    }

    .inner-box {
        padding: 1rem;
    }

    .carousel {
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
    }

    .text-wrap {
        margin-bottom: 1rem;
    }

    .text-group h2 {
        font-size: 1.2rem;
    }

    form {
        padding: 1rem 2rem 1.5rem;
    }
}