footer{
    background-color: rgb(32,32,32);
    height: 400px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: -45px;
}

.footer-col a {
    text-decoration: none;
    color: rgb(187, 184, 184)
}

.footer-col h3 {
    font-size: 22px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(211, 204, 204);
    text-transform: capitalize;
    position: relative;
    font-weight: 600;
}

.li_menu{
    margin-top: 20px;
}
.ww{
    display: flex;
    flex-wrap: wrap;
}

.footer-col h3::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(181, 184, 168);
    height:2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(249, 249, 249);
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.form-check-input{
   margin-right: 10px;
}

.item{
    position: relative;
    
}

.cmsbanner-text{
    position: absolute;
    top: 40px;
    padding-left: 30px;
    
}

.btn:hover{
    background-color: black;
}

.in {
    padding: 8px;
    font-size: 27px;
    color: rgb(244, 240, 240);
}

.fox2{
    width: 100%;
}

.fo{
    background-color: black;
}
