.lll {
    width: 100%;
    height: 750px;
    padding-top: 50px;
    background-color: aliceblue;
    position: relative;
}

.main {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.main:nth-child(0),
.main:nth-child(1) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.main:nth-child(2) {
    left: 45%;
}

.main:nth-child(3) {
    left: calc(45% + 220px);
}

.main:nth-child(n+4) {
    left: calc(45% + 440px);
    opacity: 20;
}

.main:nth-child(n+5) {
    left: calc(40% + 660px);
    opacity: 0;
}

.main .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 500px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
}

.main:nth-child(1) .content {
    display: block;
    z-index: 11111;
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(90px);
}

.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    background-color: transparent;
    transition: 0.5s;
}

.buttons button:hover {
    color: red;
}